*{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    padding-inline: 10px;
}
.logo {
    max-width: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    color: black;
    text-decoration: none;

}
input { 
    outline: none;
}

